<div class="row-item" data-ng-click="env.row=30" data-ng-class="{ 'highlighted': env.row==30,
                      'has-error': userForm.groupNumber.$invalid && (!userForm.groupNumber.$pristine || env.showValid)
                    }">
  <label class="description">Group Number</label>
  <div class="content">
    <div class="row">
      <div class="form-group col-xs-6" data-ng-class="{ 'has-error': userForm.groupNumber.$invalid && (!userForm.groupNumber.$pristine || env.showValid) }">
        <input type="text" name="groupNumber" class="form-control" maxlength="20" data-ng-model="params.groupNumber" tabindex="1"
        />
      </div>
    </div>
  </div>
</div>
<div class="row-item" data-ng-click="env.row=31" data-ng-class="{ 'highlighted': env.row==31,
                      'has-error': userForm.federalId.$invalid && (!userForm.federalId.$pristine || env.showValid)
                    }">
  <label class="description">Federal ID #</label>
  <div class="content">
    <div class="row">
      <div class="form-group col-xs-6" data-ng-class="{ 'has-error': userForm.federalId.$invalid && (!userForm.federalId.$pristine || env.showValid) }">
        <input type="text" name="federalId" class="form-control" maxlength="30" data-ng-model="params.federalId" tabindex="2" />
      </div>
    </div>
  </div>
</div>

<date-input data-form="userForm" data-ng-model="params.effectiveDateOfInsurance" data-control-label="Effective Date of Insurance"
  data-values="env" data-row="32" data-tabindex="3"></date-input>

<!-- Administration Fee -->
<div class="row-item" data-ng-click="env.row='fee'" data-ng-class="{ 'highlighted' : env.row=='fee',
                      'has-error' : userForm.fee.$invalid && (!userForm.fee.$pristine || env.showValid)
                    }">
  <label class="description">Administration Fee</label>
  <div class="content">
    <div class="row">
      <div class="form-group col-xs-4" data-ng-class="{ 'has-error' : userForm.fee.$invalid && (!userForm.fee.$pristine || env.showValid) }">
        <select name="fee" class="form-control" data-ng-model="params.fee" tabindex="32.1">
          <option value="10">10%</option>
      <option value="11">11%</option>
        </select>
      </div>
    </div>
  </div>
</div>

<bcs-benefit-year-input data-form="userForm" data-ng-model="bcsBYModel" data-env="env" data-tabindex="4"></bcs-benefit-year-input>

<!--<div class="row-item" data-ng-click="env.row='registrationClosedMessageBCS'"
     data-ng-class="{ 'highlighted': env.row=='registrationClosedMessageBCS',
                      'has-error': userForm.registrationClosedMessage.$invalid && (!userForm.registrationClosedMessage.$pristine || env.showValid)
                    }">
  <label class="description">Registration Closed Message</label>
  <div class="content">
    <div class="row">
      <div class="form-group col-xs-12"
           data-ng-class="{ 'has-error': userForm.registrationClosedMessage.$invalid && (!userForm.registrationClosedMessage.$pristine || env.showValid) }">
        <textarea name="registrationClosedMessage" class="form-control"
                  data-ng-model="params.registrationClosedMessage"
                  rows="3"
                  tabindex="4"></textarea>
      </div>
    </div>
  </div>
</div>-->
<div class="dotted-bottom"></div>
<div class="row-item" data-ng-click="env.row=33" data-ng-class="{ 'highlighted': env.row==33,
                      'has-error': userForm.totalNumberOfEmployeesEmployed.$invalid && (!userForm.totalNumberOfEmployeesEmployed.$pristine || env.showValid)
                    }">
  <label class="description">Total Number of Employees Employed</label>
  <div class="content">
    <div class="row">
      <div class="form-group col-xs-4" data-ng-class="{ 'has-error': userForm.totalNumberOfEmployeesEmployed.$invalid && (!userForm.totalNumberOfEmployeesEmployed.$pristine || env.showValid) }">
        <input type="text" name="totalNumberOfEmployeesEmployed" class="form-control" data-ng-model="params.totalNumberOfEmployeesEmployed"
          filtered-input="number" tabindex="5" />
      </div>
    </div>
  </div>
</div>
<div class="row-item" data-ng-click="env.row=34" data-ng-class="{ 'highlighted': env.row==34,
                      'has-error': userForm.totalNumberOfEligibleEmployees.$invalid && (!userForm.totalNumberOfEligibleEmployees.$pristine || env.showValid)
                    }">
  <label class="description">Total Number of Eligible Employees</label>
  <div class="content">
    <div class="row">
      <div class="form-group col-xs-4" data-ng-class="{ 'has-error': userForm.totalNumberOfEligibleEmployees.$invalid && (!userForm.totalNumberOfEligibleEmployees.$pristine || env.showValid) }">
        <input type="text" name="totalNumberOfEligibleEmployees" class="form-control" data-ng-model="params.totalNumberOfEligibleEmployees"
          filtered-input="number" tabindex="6" />
      </div>
    </div>
  </div>
</div>
<!-- Start Classes of Eligible Employees -->
<div class="row-item" data-ng-click="env.row='numberOfClasses'" data-ng-class="{ 'highlighted' : env.row=='numberOfClasses',
                      'has-error' : userForm.numberOfClasses.$invalid && (!userForm.numberOfClasses.$pristine || env.showValid)
                    }">
  <label class="description">Classes of Eligible Employees</label>
  <div class="content">
    <div class="row">
      <div class="form-group col-xs-4" data-ng-class="{ 'has-error' : userForm.numberOfClasses.$invalid && (!userForm.numberOfClasses.$pristine || env.showValid) }">
        <select name="numberOfClasses" class="form-control" data-ng-model="env.numberOfClasses" data-ng-options="n for n in [] | range:1:6"
          tabindex="7">
          <option></option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="dotted-bottom" data-ng-if="env.numberOfClasses"></div>
<classes-of-eligible-employees-item data-form="userForm" data-ng-repeat="n in [] | range:0:env.numberOfClasses" data-params="params"
  data-index="{{ $index+1 }}" data-env="env" data-tabindex="8"></classes-of-eligible-employees-item>
<!-- End Classes of Eligible Employees -->
<!-- Start Is there an Agent -->
<div class="row-item" data-ng-click="env.row='isThereAnAgent'" data-ng-class="{ 'highlighted': env.row=='isThereAnAgent' }">
  <label class="description">Is there an Agent?</label>
  <div class="content">
    <div class="radio-line">
      <input name="isThereAnAgent_1" type="radio" id="isThereAnAgent_1" data-ng-model="params.isThereAnAgent" data-ng-value="1"
        tabindex="9">
      <label for="isThereAnAgent_1" class="choice">Yes</label>
    </div>
    <div class="radio-line">
      <input name="isThereAnAgent_0" type="radio" id="isThereAnAgent_0" data-ng-model="params.isThereAnAgent" data-ng-value="0"
        tabindex="9">
      <label for="isThereAnAgent_0" class="choice">No</label>
    </div>
  </div>
</div>
<div data-ng-if="params.isThereAnAgent">
  <name-input form="userForm" data-ng-params="params.agentEmployer" data-control-label="Agent Name" data-env="env" data-row="'agentName'"
    data-tabindex="10"></name-input>
  <div class="row-item" data-ng-click="env.row='AgentLicenseNumber'" data-ng-class="{ 'highlighted': env.row=='AgentLicenseNumber',
                        'has-error': userForm.stateLicenseNumber.$invalid && (!userForm.stateLicenseNumber.$pristine || env.showValid)
                      }">
    <label class="description">Agent's State License Number</label>
    <div class="content">
      <div class="row">
        <div class="form-group col-xs-6" data-ng-class="{ 'has-error': userForm.stateLicenseNumber.$invalid && (!userForm.stateLicenseNumber.$pristine || env.showValid) }">
          <input type="text" name="stateLicenseNumber" class="form-control" data-ng-model="params.agentEmployer.stateLicenseNumber"
            tabindex="10" />
        </div>
      </div>
    </div>
  </div>
  <phone-input data-form="userForm" data-ng-model="params.agentEmployer.phoneNumber" data-control-label="Agent's Phone Number"
    data-env="env" data-row="'AgentPhoneNumber'" data-tabindex="11"></phone-input>
  <div class="row-item" data-ng-click="env.row='NameOfFirm'" data-ng-class="{ 'highlighted': env.row=='NameOfFirm',
                        'has-error': userForm.nameOfFirm.$invalid && (!userForm.nameOfFirm.$pristine || env.showValid)
                      }">
    <label class="description">Name of Firm</label>
    <div class="content">
      <div class="row">
        <div class="form-group col-xs-6" data-ng-class="{ 'has-error': userForm.nameOfFirm.$invalid && (!userForm.nameOfFirm.$pristine || env.showValid) }">
          <input type="text" name="nameOfFirm" class="form-control" data-ng-model="params.agentEmployer.nameOfFirm" tabindex="12" />
        </div>
      </div>
    </div>
  </div>
  <address-input data-form="userForm" data-ng-params="params.agentEmployer" data-control-label="Address" data-env="env" data-row="'AgentParamsAddress'"
    data-tabindex="13"></address-input>
  <div class="row-item" data-ng-click="env.row='TaxpayerIDNumber'" data-ng-class="{ 'highlighted': env.row=='TaxpayerIDNumber',
                        'has-error': userForm.taxpayerIdNumber.$invalid && (!userForm.taxpayerIdNumber.$pristine || env.showValid)
                      }">
    <label class="description">Taxpayer I.D. Number</label>
    <div class="content">
      <div class="row">
        <div class="form-group col-xs-6" data-ng-class="{ 'has-error': userForm.taxpayerIdNumber.$invalid && (!userForm.taxpayerIdNumber.$pristine || env.showValid) }">
          <input type="text" name="taxpayerIDNumber" class="form-control" data-ng-model="params.agentEmployer.taxpayerIDNumber" tabindex="14"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row-item" data-ng-click="env.row='AgentEmail'" data-ng-class="{ 'highlighted': env.row=='AgentEmail',
                        'has-error': userForm.agentEmail.$invalid && (!userForm.agentEmail.$pristine || env.showValid)
                      }">
    <label class="description">Agent's Email Address</label>
    <div class="content">
      <div class="row">
        <div class="form-group col-xs-6" data-ng-class="{ 'has-error': userForm.agentEmail.$invalid && (!userForm.agentEmail.$pristine || env.showValid) }">
          <input type="text" name="agentEmail" class="form-control" data-ng-model="params.agentEmployer.emailAddress" tabindex="15"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Is there an Agent -->