<div data-ng-controller="HeaderController">
  <div id="wrap">


    <!-- View on desktop -->
    <!-- View on desktop -->
    <div ng-if="!isUseMobile" class="container first-container">
      <div class="row">
        <div class="col-xs-8">

          <div class="logo">
            <a href="#/" class="logo-image">
              <img src="assets/images/logo1.png" style="max-height: 32px;" />
            </a>

            <div class="input-group" ng-if="false">
              <input class="form-control input-filter ng-pristine ng-valid ng-touched" placeholder="">
              <span class="input-group-addon"><i class="icon icon-search"></i></span>
            </div>
          </div>

        </div>
        <div class="col-xs-4">
          <div class="group-right">
            <div class="avatar-mark">
              <a href="">
                <img class="img-circle img-icon-2" data-ng-src="{{ avatar }}" src="assets/images/default-profile.png" />
              </a>

              <div class="group-profile">
                <ul>


                  <li data-ng-class="{ 'active' : checkState == 'profile' }" data-ui-sref="loggedIn.modules.profile({viewProfile:'View Profile'})">

                    <div class="pulse-icon-profile">
                      <i class="pulse-icons"></i>
                    </div>
                    <div class="pulse-content">My Profile</div>

                  </li>

                  <li data-ng-class="{ 'active' : checkState == 'settings' }" data-ui-sref="loggedIn.modules.settings({viewSetting:'View Setting'})">

                    <div class="pulse-icon-setting">
                      <i class="pulse-icons"></i>
                    </div>
                    <div class="pulse-content">My Settings</div>

                  </li>

                  <li data-ng-click="logout()">

                    <div class="pulse-icon-auth">
                      <i class="pulse-icons"></i>
                    </div>
                    <div class="pulse-content">Logout</div>

                  </li>
                </ul>
              </div>
            </div>

            <div class="question-mark">
              <a href="">
                <i class="fa fa-reorder"></i>
              </a>

              <div class="group-question">
                <ul>



                  <li data-ng-if="isAuthenticated" data-ui-sref="loggedIn.modules.faqs" data-ng-class="{ 'active' : checkState == 'faqs' }">

                    <div class="pulse-icon-faq">
                      <i class="pulse-icons"></i>
                    </div>
                    <div class="pulse-content">FAQs</div>

                  </li>
                  <li data-ng-if="!isAuthenticated" data-ui-sref="public.listFaqs" data-ng-class="{ 'active' : checkState == 'listFaqs' }">
                    <div class="pulse-icon-faq">
                      <i class="pulse-icons"></i>
                    </div>
                    <div class="pulse-content">FAQs</div>

                  </li>

                  <li data-ng-class="{ 'active' : checkState == 'about' }" data-ui-sref="public.pagesAbout">
                    <div class="pulse-icon-about">
                      <i class="pulse-icons"></i>
                    </div>
                    <div class="pulse-content">About Us</div>
                  </li>

                  <li data-ui-sref="modules.contact" data-ng-class="{ 'active' : checkState == 'contact' }">
                    <div class="pulse-icon-contact">
                      <i class="pulse-icons"></i>
                    </div>
                    <div class="pulse-content">Contact Us</div>
                  </li>


                </ul>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>


    <!-- View on Mobile -->
    <div ng-if="isUseMobile" class="container">
      <div class="row">
        <div class="col-md-12">

          <!-- Logo-->
          <div class="logo">
            <a href="#/" class="logo-image">
              <img src="assets/images/logo1.png" />
            </a>
          </div>

          <!-- Menu -->
          <nav ng-class="{'use-on-mobile' : !isUseMobile}" class="navbar" role="navigation">
            <div class="navbar-header">

              <!--START: Icon on mobile -->
              <div class="button-mobile" ng-if="isUseMobile">


                <!-- For menu Product-->
                <button type="button" class="fa-reorder-product navbar-toggle margin-right-10">
                  <i class="fa fa-reorder"></i>
                  
                  <div id="menu-mobile-right" class="mobile-nav-flyout">

                    <div ng-if="isAuthenticated" data-ng-controller="SidebarItemController">
                      <div data-ng-if="isParticipant" data-ng-include="'modules/sidebar/item-sidebar/item-sidebar-participant.tpl.html'"></div>
                      <div data-ng-if="isEmployer" data-ng-include="'modules/sidebar/item-sidebar/item-sidebar-employer.tpl.html'"></div>
                      <div data-ng-if="isAgentTheAgent" data-ng-include="'modules/sidebar/item-sidebar/item-sidebar-agent.tpl.html'"></div>
                      <div data-ng-if="isHealthCoach" data-ng-include="'modules/sidebar/item-sidebar/item-sidebar-healthcoach.tpl.html'"></div>
                      <div data-ng-if="isHealthCoachManager" data-ng-include="'modules/sidebar/item-sidebar/item-sidebar-healthcoachmanager.tpl.html'"></div>
                      <div data-ng-if="isClientManager" data-ng-include="'modules/sidebar/item-sidebar/item-sidebar-clientmanager.tpl.html'"></div>
                      <div data-ng-if="isClinicalDirector" data-ng-include="'modules/sidebar/item-sidebar/item-sidebar-clinicaldirector.tpl.html'"></div>
                      <div data-ng-if="isAdmin" data-ng-include="'modules/sidebar/item-sidebar/item-sidebar-admin.tpl.html'"></div>
                      <div data-ng-if="isSuperAdmin" data-ng-include="'modules/sidebar/item-sidebar/item-sidebar-superadmin.tpl.html'"></div>
                    </div>

                    <div data-ng-include="'header/top-menu/top-menu.tpl.html'" data-ng-controller="HeaderTopMenuController">
                    </div>
                  </div>

                </button>

                <!-- For Menu Profile -->
                <button type="button" class="fa-reorder-profile navbar-toggle margin-right-10">
                  <img class="img-circle img-icon margin-bottom-5"
                       src="assets/images/default-profile.png"
                       data-ng-src="{{ avatar }}"/>

                  <div id="menu-mobile-right-profile"  ng-click="toggleMenuOnMobile('profile')" class="mobile-nav-flyout action-menu-profile">

                    <div data-ng-include="'header/top-menu/top-menu-profile.tpl.html'"></div>
                  </div>
                </button>


              </div>
              <!--END: Icon on mobile -->



            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>
  <div class="line-green"></div>
</div>
