<div class="table-double" data-ng-class="{'full-control one' :  tableParams.data.length > 0 && !loading}">
  <div class="table-double-content">
    <div class="table-responsive table-responsive-pagination">
      <table ng-table="tableParams" show-filter="false" class="table">
        <thead>
        <tr>
          <th>
            <div>Total</div>
          </th>
          <th class="sortable" ng-class="{ 'sort-asc': tableParams.isSortBy('clientName', 'asc'), 'sort-desc': tableParams.isSortBy('clientName', 'desc') }"
              ng-click="tableParams.sorting({'clientName' : tableParams.isSortBy('clientName', 'asc') ? 'desc' : 'asc'})">
            <div>Client Name</div>
          </th>
          <th class="sortable" ng-class="{ 'sort-asc': tableParams.isSortBy('lastName', 'asc'), 'sort-desc': tableParams.isSortBy('lastName', 'desc') }"
              ng-click="tableParams.sorting({'lastName' : tableParams.isSortBy('lastName', 'asc') ? 'desc' : 'asc'})">
            <div>Last Name</div>
          </th>

          <th class="sortable" ng-class="{ 'sort-asc': tableParams.isSortBy('firstName', 'asc'), 'sort-desc': tableParams.isSortBy('firstName', 'desc') }"
              ng-click="tableParams.sorting({'firstName' : tableParams.isSortBy('firstName', 'asc') ? 'desc' : 'asc'})">
            <div>First Name</div>
          </th>
          <th class="sortable" ng-class="{ 'sort-asc': tableParams.isSortBy('email', 'asc'), 'sort-desc': tableParams.isSortBy('email', 'desc') }"
              ng-click="tableParams.sorting({'email' : tableParams.isSortBy('email', 'asc') ? 'desc' : 'asc'})">
            <div>Email</div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="pointer" ng-repeat="item in tableParams.data" ng-click="goState('loggedIn.modules.user-manager.participantClient', item)">
          <td>{{item.totalParticipant}}</td>
          <td data-title="'Client Name'" sortable="'clientName'" ng-bind-html="item.clientName"></td>
          <td data-title="'Last Name'" sortable="'lastName'" ng-bind-html="item.lastName"></td>
          <td data-title="'First Name'" sortable="'firstName'" ng-bind-html="item.firstName"></td>
          <td data-title="'Email'" sortable="'email'" ng-bind-html="item.email"></td>
        </tr>
        <tr class="empty" data-ng-if="loading">
          <td colspan="5" class="text-center">
            <div class="loading-indicator"></div>
          </td>
        </tr>
        <tr class="empty" data-ng-if="tableParams.data.length == 0 && !loading">
          <td colspan="5" class="text-center">
            <span ng-if="filter.keyword">{{ 'userManager.empty_1' | translate }}</span>
            <span ng-if="!filter.keyword">{{ 'userManager.empty_2' | translate }}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="table-double-action" data-ng-if="tableParams.data.length > 0 && !loading">
    <table class="table ng-table">
      <thead>
      <tr>
        <th class="action"><span class="button action-edit">&nbsp;</span></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in tableParams.data">
        <td class="action">
          <span class="button action-view" title="{{ 'userManager.button.title.view' | translate }}" data-ng-click="viewDetail(item)"><i class="icon"></i></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
