<div class="row-item"
     data-ng-click="env.row=row"
     data-ng-class="{ 'highlighted': env.row==row,
                      'has-error': ((form['ssn_' + inputId].$invalid && (!form['ssn_' + inputId].$pristine || env.showValid)) || (ngModel.indexOf('_')!=-1 && env.showValid))
                    }">
  <label class="description">{{ controlLabel }}<span class="is-required" data-ng-if="required">*</span></label>
  <div class="content">
    <div class="row">
      <div class="form-group col-xs-4"
           data-ng-class="{ 'has-error' : ((form['ssn_' + inputId].$invalid && (!form['ssn_' + inputId].$pristine || env.showValid)) || (ngModel.indexOf('_')!=-1 && env.showValid)) }">
        <input name="ssn_{{ inputId }}" type="text" class="form-control"
               data-ng-model="ngModel"
               data-input-mask="ssn2"
               data-ng-disabled="readonly"
               data-ng-required="required"
               tabindex="{{ tabindex }}"/>
        <label class="control-label">Must be 4 digits. Currently Entered: {{ currentLength(form['ssn_' + inputId]) }} digits.</label>
      </div>
    </div>
  </div>
</div>
