<div class="panel panel-green warp-shadow">
    <div class="panel-body">
        <form name="createPortfolioForm" novalidate autocomplete="off">
            <div class="form-description dotted-line">
                <h2>Add a Portfolio</h2>
            </div>
            <div class="row-item" data-ng-click="row=2" data-ng-class="{ 'highlighted' : row==2 }">
                <label class="description"> Name <span class="is-required">*</span></label>

                <div class="content">
                    <div class="row">
                        <div class="form-group col-xs-12"
                             data-ng-class="{ 'has-error' : createPortfolioForm.name.$invalid && (!createPortfolioForm.name.$pristine || showValid) }">
                            <input type="text" name="name" class="form-control"
                                   data-ng-model="params.name"
                                   tabindex="2"
                                   required/>
                        </div>

                    </div>
                </div>
            </div>


            <div class="buttons" data-ng-click="row=0">
                <button class="btn btn-green" data-ng-click="create(createPortfolioForm.$valid)" tabindex="39">Save
                    changes
                </button>
                <a class="btn btn-white" data-ng-click="cancel()" tabindex="40">Cancel</a>
            </div>
            <div class="alert alert-danger" data-ng-show="error">{{ error }}</div>
        </form>
    </div>
</div>
