<div class="password-strength">
    <div class="meter meter-{{ status }}">
        <b class="meter-1"></b>
        <b class="meter-2"></b>
        <b class="meter-3"></b>
        <b class="meter-4"></b>
    </div>
    <label class="hint control-label text-default">

        <span data-ng-if="password.$valid && status !='init'">
            Password strength: <span class="text-capitalize">{{ status }}</span>
        </span>
        <span data-ng-if="!password.$valid && password.$error.minlength === true">
            Minimum of <strong>{{ minLength }}</strong> characters required.
            <i style="white-space: nowrap">Currently Entered:</i>
            <strong>{{ password.$viewValue.length }}</strong> characters.
        </span>
        <span data-ng-if="!password.$valid && password.$error.minlength === false && password.$equals && password.$error.passwordEqual === true">
            <!--Does not contain <strong data-ng-repeat="item in password.$equals track by $index">{{ item }}{{$last ? '' : ', '}}</strong>.-->
            Does not contain your user name, real name, or company name.
        </span>
    </label>
</div>
