<ul class="breadcrumb-tabs">
  <li data-ng-class="{ 'complete': step>=1 }">
    <label data-ng-if="step<1" class="label-step-number">1</label>
    <label data-ng-if="step>=1" class="label-step-number"><i class="fa fa-check"></i></label>
    <label class="label-step-name"><span>Enrollment Card</span></label>
  </li>
  <li data-ng-class="{ 'complete': step>=2 }">
    <label data-ng-if="step<2" class="label-step-number">2</label>
    <label data-ng-if="step>=2" class="label-step-number"><i class="fa fa-check"></i></label>
    <label class="label-step-name"><span>Direct Deposit</span></label>
  </li>
  <li data-ng-class="{ 'complete': step>=3 }">
    <label data-ng-if="step<3" class="label-step-number">3</label>
    <label data-ng-if="step>=3" class="label-step-number"><i class="fa fa-check"></i></label>
    <label class="label-step-name"><span>Privacy Authorization<br>Form</span></label>
  </li>
</ul>
