<div class="guest-container">
  <div class="verticalcenter">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="logo-small">

          <a href="#/">
            <img src="assets/images/logo1.png">
          </a>

        </div>

        <div ng-if="!success && !error && !reason" class="content">
          <div class="text-red" data-ng-if="step === 1">Oops!</div>
          <div class="step-name" data-ng-if="step === 1">Forgot your password? Let us help!</div>

          <div class="text-red" data-ng-if="step === 2">Pop Quiz!</div>
          <div class="step-name" data-ng-if="step === 2">Let's test your memory</div>
          <div class="step-name" data-ng-if="step === 2"><small>Choose a question</small></div>
        </div>

        <div class="content" ng-if="success">
          <div>Sweet!</div>
          <div class="step-name">{{success}}</div>
        </div>

        <div class="content" ng-if="error">
          <div class="text-red">Oops!</div>
          <div class="step-name">{{error}}</div>
        </div>

        <div class="content" ng-if="reason">
          <div class="text-red">Oops!</div>
          <div class="step-name">{{reason}}</div>
        </div>

      </div>
      <div class="panel-body login">
        <form name="forgotPasswordForm1" novalidate data-ng-show="step === 1">
          <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username" data-ng-model="param1.username" data-ng-class="{ 'ng-dirty' : forgotPasswordForm1.username.$invalid && (!forgotPasswordForm1.username.$pristine || showValid1) }"
              required/>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-green btn-width-100" data-ng-click="submitStep1()">Submit</button>
          </div>



        </form>
        <form name="forgotPasswordForm2" novalidate data-ng-show="step === 2">
          <div class="form-group">
            <!--<select name="question"
                    class="form-control"
                    data-ng-model="param2.question"
                    data-ng-options="item.question as item.question for item in questions"
                    data-ng-class="{ 'ng-dirty' : forgotPasswordForm2.question.$invalid && (!forgotPasswordForm2.question.$pristine || showValid2) }"
                    required>
              <option value="" selected>Please Select Question</option>
            </select>-->           
            <div class="content-radio-inline">
              <p class="title">Please Select Question:</p>
              <div class="radio-inline item{{key}}" ng-repeat="(key,item) in questions">
                <input id="question{{key}}" type="radio" data-ng-value="item.question1Id" data-ng-model="param2.question">
                <label class="choice" for="question{{key}}">{{item.question}}</label>
              </div>
            </div>

          </div>
          <div class="form-group" ng-if="param2.question">
            <input type="text" name="answer" class="form-control" data-ng-model="param2.answer" data-ng-class="{ 'ng-dirty' : forgotPasswordForm2.answer.$invalid && (!forgotPasswordForm2.answer.$pristine || showValid2) }"
              required placeholder="Answer Question" />
          </div>

          <div class="form-group text-center">
            <button ng-if="isHelp === false && param2.question && param2.answer" class="btn btn-green btn-width-100" data-ng-click="submitStep2()">Submit
            </button>
            <p class="alert alert-danger" ng-if="isHelp">
              <span>You exceeded five failed login attempts.</span>
              <span>Please call <span class="fontWeight colorBlack">1-866-222-0102</span> for help</span>

              <span class="fontWeight colorBlack">OR</span>

              <span>wait a few minutes and try again.</span>
            </p>
          </div>

        </form>

        <form name="forgotPasswordForm3" class="forgotPasswordForm3" ng-if="step === 3">

        </form>


        <div class="form-group text-center" data-ng-if="brand">
          <div class="text-center">
            <img class="logo-bank" data-ng-src="{{ brand }}" />
          </div>
        </div>


        <div class="text-center">
          <div class="btn-note register">
            Still having trouble?
            <a data-ng-click="goContact()" class="text-green">CONTACT US</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>