<div class="panel panel-green">
  <div class="panel-heading">
    <h4 class="text-center">Claims Status</h4>
  </div>
  <div class="panel-body">
    <div class="table-container">
      <div class="table-double-content">
        <div class="table-responsive table-responsive-pagination">
          <table ng-table="tableParams" show-filter="false" class="table">
            <tr class="cursor-pointer" data-ng-repeat="item in tableParams.data" data-ng-click="viewResult(item)">
              <td data-title="'Created Date'" sortable="'createdDate'" data-ng-bind="item.createdDate | date:'MM/dd/yyyy'"></td>
              <td data-title="'First Name'" data-ng-bind="item.claimData.firstName"></td>
              <td data-title="'Last Name'" data-ng-bind="item.claimData.lastName"></td>
              <td data-title="'Status'" data-ng-bind="item.status | claimStatus"></td>
            </tr>
            <tr class="empty" data-ng-if="loading">
              <td colspan="4" class="text-center">
                <div class="loading-indicator"></div>
              </td>
            </tr>
            <tr class="empty" data-ng-if="tableParams.data.length == 0 && !loading">
              <td colspan="4" class="text-center">{{ 'faqs.empty' | translate }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
