<div class="panel panel-green panel-health-coaching">
  <div class="panel-heading">
    <h4 class="text-center">Health Coach Manager</h4>
  </div>
  <div class="panel-body">
    <div class="table-container">

      <!-- Search -->
      <div class="table-filter" style="display: none">
        <div class="input-group">
          <input class="form-control input-filter" data-ng-model="filter.keyword"/>
          <span class="input-group-addon"><i class="icon icon-search"></i></span>
        </div>
      </div>

      <!-- Filter -->
      <div class="table-dropdown" style="display: none">
        <div class="pull-left">
          <div class="dropdown">
            <button class="dropdown-toggle filter-participant-client">
              <span data-ng-if="!filter.clientName">Client</span>
              <span data-ng-if="filter.clientName">{{filter.clientName}}</span>
              <span class="fa fa-angle-down"></span>
            </button>
            <ul class="dropdown-menu">
              <li data-ng-repeat="employer in employerList"
                  data-ng-class="{ 'selected': employer == currEmployer }">
                <a data-ng-click="choiceEmployer(employer)"
                   onclick="$('.filter-participant-client').trigger('click');">{{employer.clientName }}</a>
              </li>
            </ul>
          </div>

        </div>
        <div class="pull-left">&nbsp;&nbsp;&nbsp;</div>
        <div class="pull-left">
          <div class="dropdown">
            <button class="dropdown-toggle filter-archive">
              <span data-ng-if="filter.active">Active</span>
              <span data-ng-if="!filter.active">InActive</span>
              <span class="fa fa-angle-down"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-click="selectStatusParticipant('active')">
                <a onclick="$('.filter-archive').trigger('click');">Active</a>
              </li>
              <li ng-click="selectStatusParticipant('inactive')">
                <a onclick="$('.filter-archive').trigger('click');">InActive</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="pull-right" data-ng-show="currEmployer">
          <a class="close" data-ng-click="filterEmployerClear()"><i class="icon icon-close"></i></a>
        </div>
        <div class="clearfix"></div>
      </div>

      <!-- Table -->
      <div class=""
           data-ng-class="{'full-control' : isFullControl() && tableParams.data.length > 0 && !loading}">
        <div class="">
          <div class="table-responsive table-responsive-pagination">
            <table ng-table="tableParams" show-filter="false" class="table">
              <thead>
              <tr>
                <th width="20" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                  <input type="checkbox" ng-model="checkboxes.items[item.id]"/>
                </th>
                <th class="sortable" ng-class="{
                            'sort-asc': tableParams.isSortBy('lastName', 'asc'),
                            'sort-desc': tableParams.isSortBy('lastName', 'desc')
                          }"
                    ng-click="tableParams.sorting({'lastName' : tableParams.isSortBy('lastName', 'asc') ? 'desc' : 'asc'})">
                  <div>Last Name</div>
                </th>
                <th class="sortable" ng-class="{
                            'sort-asc': tableParams.isSortBy('firstName', 'asc'),
                            'sort-desc': tableParams.isSortBy('firstName', 'desc')
                          }"
                    ng-click="tableParams.sorting({'firstName' : tableParams.isSortBy('firstName', 'asc') ? 'desc' : 'asc'})">
                  <div>First Name</div>
                </th>
                <th class="sortable" ng-class="{
                            'sort-asc': tableParams.isSortBy('clientName', 'asc'),
                            'sort-desc': tableParams.isSortBy('clientName', 'desc')
                          }"
                    ng-click="tableParams.sorting({'clientName' : tableParams.isSortBy('clientName', 'asc') ? 'desc' : 'asc'})">
                  <div>Client</div>
                </th>
                <th class="sortable" ng-class="{
                            'sort-asc': tableParams.isSortBy('username', 'asc'),
                            'sort-desc': tableParams.isSortBy('username', 'desc')
                          }"
                    ng-click="tableParams.sorting({'username' : tableParams.isSortBy('username', 'asc') ? 'desc' : 'asc'})">
                  <div>Username</div>
                </th>
                <th class="sortable" ng-class="{
                            'sort-asc': tableParams.isSortBy('email', 'asc'),
                            'sort-desc': tableParams.isSortBy('email', 'desc')
                          }"
                    ng-click="tableParams.sorting({'email' : tableParams.isSortBy('email', 'asc') ? 'desc' : 'asc'})">
                  <div>Email</div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in tableParams.data">
                <td width="20" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                  <input type="checkbox" ng-model="checkboxes.items[item.id]"/>
                </td>
                <td data-title="'Last Name'" sortable="'lastName'"> {{item.lastName}}</td>
                <td data-title="'First Name'" sortable="'firstName'"> {{item.firstName}}</td>
                <td data-title="'Client'" sortable="'clientName'"> {{item.clientName}}</td>
                <td data-title="'Username'" sortable="'username'"> {{item.username}}</td>
                <td data-title="'Email'" sortable="'email'">{{item.email}}</td>
              </tr>
              <tr class="empty" data-ng-if="loading">
                <td colspan="5" class="text-center">
                  <div class="loading-indicator"></div>
                </td>
              </tr>
              <tr class="empty" data-ng-if="tableParams.data.length == 0 && !loading">
                <td colspan="5" class="text-center">
                  <span ng-if="filter.keyword">{{ 'userManager.empty_1' | translate }}</span>
                  <span ng-if="!filter.keyword">{{ 'userManager.empty_2' | translate }}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
