<div class="panel panel-green panel-manager">
    <div class="panel-heading">
        <h4 class="text-center">Manage Participants</h4>
    </div>
    <div class="panel-body">
        <div class="panel-manager-tool">
            <div class="toolbar">


                <a class="btn active"
                   data-ui-sref="loggedIn.modules.participant">Manage Participants
                    <!--<span class="fa fa-angle-down"></span>-->
                </a>
                <a class="btn"
                   ng-if="!isHealthCoach"
                   data-ui-sref="loggedIn.modules.participant.create">Add a Participant
                    <span class="fa fa-angle-down"></span>
                </a>

                <div class="dropdown btn">
                    <button class="dropdown-toggle filter-archive">
                        <span data-ng-if="filter.status === 'active'">Active</span>
                        <span data-ng-if="filter.status === 'inactive'">InActive</span>
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-click="selectStatusArchive('active')">
                            <a onclick="$('.filter-archive').trigger('click');">Active</a>
                        </li>
                        <li ng-click="selectStatusArchive('inactive')">
                            <a onclick="$('.filter-archive').trigger('click');">InActive</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>


        <div class="form-content">
            <div class="table-container">
                <div class="table-filter">
                    <div class="input-group">
                        <input class="form-control input-filter" data-ng-model="filter.keyword"/>
                        <span class="input-group-addon"><i class="icon icon-search"></i></span>
                    </div>
                </div>
                <div class="table-double"
                     data-ng-class="{'full-control' : isFullControl() && tableParams.data.length > 0 && !loading}">
                    <div class="table-double-content">
                        <div class="table-responsive table-responsive-pagination">
                            <table ng-table="tableParams" show-filter="false" class="table">
                                <thead>
                                <tr>
                                    <th class="sortable" ng-class="{
                                                'sort-asc': tableParams.isSortBy('lastName', 'asc'),
                                                'sort-desc': tableParams.isSortBy('lastName', 'desc')
                                              }"
                                        ng-click="tableParams.sorting({'lastName' : tableParams.isSortBy('lastName', 'asc') ? 'desc' : 'asc'})">
                                        <div>Last Name</div>
                                    </th>
                                    <th class="sortable" ng-class="{
                                                'sort-asc': tableParams.isSortBy('firstName', 'asc'),
                                                'sort-desc': tableParams.isSortBy('firstName', 'desc')
                                              }"
                                        ng-click="tableParams.sorting({'firstName' : tableParams.isSortBy('firstName', 'asc') ? 'desc' : 'asc'})">
                                        <div>First Name</div>
                                    </th>
                                    <!--<th class="sortable" ng-class="{
                                                'sort-asc': tableParams.isSortBy('username', 'asc'),
                                                'sort-desc': tableParams.isSortBy('username', 'desc')
                                              }"
                                        ng-click="tableParams.sorting({'username' : tableParams.isSortBy('username', 'asc') ? 'desc' : 'asc'})">
                                        <div>Username</div>
                                    </th>-->
                                    <th class="sortable" ng-class="{
                                                'sort-asc': tableParams.isSortBy('email', 'asc'),
                                                'sort-desc': tableParams.isSortBy('email', 'desc')
                                              }"
                                        ng-click="tableParams.sorting({'email' : tableParams.isSortBy('email', 'asc') ? 'desc' : 'asc'})">
                                        <div>Email</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in tableParams.data">
                                    <td data-title="'Last Name'" sortable="'lastName'">
                                        {{item.lastName}}
                                    </td>
                                    <td data-title="'First Name'" sortable="'firstName'">
                                        {{item.firstName}}
                                    </td>
                                    <!--<td data-title="'Username'" sortable="'username'">
                                        {{item.username}}
                                    </td>-->
                                    <td data-title="'Email'" sortable="'email'">
                                        {{item.email}}
                                    </td>
                                </tr>
                                <tr data-ng-if="loading">
                                    <td colspan="4" class="text-center">
                                        <div class="loading-indicator"></div>
                                    </td>
                                </tr>
                                <tr data-ng-if="tableParams.data.length == 0 && !loading">
                                    <td colspan="4" class="text-center">
                                        {{ 'userManager.empty_1' | translate }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="table-double-action"
                         data-ng-if="isFullControl() && tableParams.data.length > 0 && !loading">
                        <table class="table ng-table">
                            <thead>
                            <tr>
                                <th class="action">


                                    <span class="button action-remove"
                                          title="{{ 'userManager.button.title.removeMultiple' | translate }}"
                                          data-ng-click="removeMultipleUsers()"
                                          data-ng-if="tableParams.data.length>0 && filter.status==='active'">
                                        <i class="icon"></i>
                                    </span>

                                    <span class="button action-remove"
                                          title="{{ 'userManager.button.title.restoreMultiple' | translate }}"
                                          data-ng-click="restoreMultipleUsers()"
                                          data-ng-if="tableParams.data.length>0 && filter.status==='inactive'">
                                            <i class="restore_icon glyphicon glyphicon-share-alt"></i>
                                    </span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in tableParams.data">
                                <td class="action">

                                    <span class="button action-remove"
                                          title="{{ 'userManager.button.title.remove' | translate }}"
                                          data-ng-if="filter.status==='active'"
                                          data-ng-click="remove(item)">
                                        <i class="icon"></i>
                                    </span>

                                    <span class="button action-remove"
                                          data-ng-if="filter.status==='inactive'"
                                          title="{{ 'userManager.button.title.restore' | translate }}"
                                          data-ng-click="restore(item)">
                                            <i class="restore_icon glyphicon glyphicon-share-alt"></i>
                                    </span>

                                    <span class="button action-edit"
                                          title="{{ 'userManager.button.title.edit' | translate }}"
                                          data-ng-click="edit(item)">
                                        <i class="icon"></i>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
