<div class="table-container">
    <div class="table-filter">
        <div class="input-group">
            <input class="form-control input-filter" data-ng-model="filter.keyword" />
            <span class="input-group-addon"><i class="icon icon-search"></i></span>
        </div>
    </div>

    <div class="table-dropdown">

        <!-- Client -->
        <div class="pull-left padding-right-15">
            <div class="dropdown">
                <button class="dropdown-toggle filter-participant-client" ng-click="env.isOpenSelectClient = !env.isOpenSelectClient">
          <span data-ng-if="!filter.clientName">Client</span>
          <span data-ng-if="filter.clientName" ng-bind-html="filter.clientName"></span>
          <span class="fa fa-angle-down"></span>
        </button>

                <div class="toggle-select-client" ng-if="env.isOpenSelectClient">
                    <div class="input-autocomplete">
                        <input type="text" ng-model="paramsAutoComplete.employer" placeholder="" typeahead-editable="false" typeahead-wait-ms="500"
                            typeahead-min-length="3" typeahead-on-select="choiceEmployer($item)" typeahead="item as item.clientName for item in findClient($viewValue) | limitTo:5"
                            class="form-control">
                    </div>
                    <span class="close-btn">
            <i class="icon icon-close" ng-click="env.isOpenSelectClient = !env.isOpenSelectClient"></i>
          </span>
                </div>

            </div>
        </div>

        <!-- Benefit Year-->
        <div class="pull-left padding-right-15">
            <div class="dropdown">
                <button class="dropdown-toggle filter-archive">
          <span data-ng-if="filter.incentiveSelected">{{getLabelByIncentive(filter.incentiveSelected)}}</span>
          <span data-ng-if="!filter.incentiveSelected">Benefit Year</span>
          <span class="fa fa-angle-down"></span>
        </button>
                <ul class="dropdown-menu">
                    <li ng-click="changeCurrentIncentive()">
                        <a onclick="$('.filter-archive').trigger('click');">All</a>
                    </li>
                    <li ng-repeat="item in currEmployer.incentives" ng-click="changeCurrentIncentive(item)">
                        <a onclick="$('.filter-archive').trigger('click');">{{getLabelByIncentive(item)}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Filter status-->
        <div class="pull-left padding-right-15">
            <div class="dropdown">
                <button class="dropdown-toggle filter-archive">
                    <span data-ng-if="filter.active">Active</span>
                    <span data-ng-if="!filter.active">InActive</span>
                    <span class="fa fa-angle-down"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-click="selectStatus('active')">
                        <a onclick="$('.filter-archive').trigger('click');">Active</a>
                    </li>
                    <li ng-click="selectStatus('inactive')">
                        <a onclick="$('.filter-archive').trigger('click');">InActive</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Filter Users-->
        <div class="pull-left">
            <div class="dropdown">
                <button class="dropdown-toggle filter-archive">
          <span data-ng-if="filter.userType ==='participant'">Participant</span>
          <span data-ng-if="filter.userType === 'spouse'">Spouse</span>
          <span class="fa fa-angle-down"></span>
        </button>
                <ul class="dropdown-menu">
                    <li ng-click="selectUserType('participant')">
                        <a onclick="$('.filter-archive').trigger('click');">Participant</a>
                    </li>
                    <li ng-click="selectUserType('spouse')">
                        <a onclick="$('.filter-archive').trigger('click');">Spouse</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pull-right" data-ng-show="currEmployer">
            <a class="close" data-ng-click="filterEmployerClear()"><i class="icon icon-close"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="table-double" data-ng-class="{
                     'full-control' : isFullControl() && tableParams.data.length > 0 && !loading,
                     'single-controller': filter.status==='active'
                     }">
                <div class="table-double-content">
                    <div class="table-responsive table-responsive-pagination">
                        <table ng-table="tableParams" show-filter="false" class="table">
                            <thead>
                                <tr>
                                    <th class="sortable" ng-class="{
                                    'sort-asc': tableParams.isSortBy('lastName', 'asc'),
                                    'sort-desc': tableParams.isSortBy('lastName', 'desc')
                                  }" ng-click="tableParams.sorting({'lastName' : tableParams.isSortBy('lastName', 'asc') ? 'desc' : 'asc'})">
                                        <div>Last Name</div>
                                    </th>
                                    <th class="sortable" ng-class="{
                                    'sort-asc': tableParams.isSortBy('firstName', 'asc'),
                                    'sort-desc': tableParams.isSortBy('firstName', 'desc')
                                  }" ng-click="tableParams.sorting({'firstName' : tableParams.isSortBy('firstName', 'asc') ? 'desc' : 'asc'})">
                                        <div>First Name</div>
                                    </th>
                                    <th class="sortable" ng-class="{
                                    'sort-asc': tableParams.isSortBy('email', 'asc'),
                                    'sort-desc': tableParams.isSortBy('email', 'desc')
                                  }" ng-click="tableParams.sorting({'email' : tableParams.isSortBy('email', 'asc') ? 'desc' : 'asc'})">
                                        <div>Email</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in tableParams.data">
                                    <td data-title="'Last Name'" sortable="'lastName'" ng-bind-html="item.lastName">
                                    </td>
                                    <td data-title="'First Name'" sortable="'firstName'" ng-bind-html="item.firstName">
                                    </td>
                                    <td data-title="'Email'" sortable="'email'" ng-bind-html="item.email">
                                    </td>
                                </tr>
                                <tr class="empty" data-ng-if="loading">
                                    <td colspan="3" class="text-center">
                                        <div class="loading-indicator"></div>
                                    </td>
                                </tr>
                                <tr class="empty" data-ng-if="tableParams.data.length == 0 && !loading">
                                    <td colspan="3" class="text-center">
                                        <span ng-if="filter.keyword">
                                    {{ 'userManager.empty_1' | translate }}
                                </span>
                                        <span ng-if="!filter.keyword">
                                    {{ 'userManager.empty_2' | translate }}
                                </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-double-action" data-ng-if="isFullControl() && tableParams.data.length > 0 && !loading">
                    <table class="table ng-table">
                        <thead>
                            <tr>
                                <th class="action">


                                    <span class="button action-remove" title="{{ 'userManager.button.title.removeMultiple' | translate }}" 
                                    data-ng-click="removeMultipleUsers()"
                                        data-ng-if="tableParams.data.length>0 && filter.active">
                                    <i class="icon"></i>
                            </span>

                                    <span class="button action-remove" title="{{ 'userManager.button.title.restoreMultiple' | translate }}" data-ng-click="restoreMultipleUsers()"
                                        data-ng-if="tableParams.data.length>0 && !filter.active">
                                    <i class="restore_icon glyphicon glyphicon-share-alt"></i>
                            </span>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in tableParams.data">
                                <td class="action">

                                    <!-- Filter INACTIVE -->
                                    <span class="button action-remove" data-ng-if="!filter.active" title="{{ 'userManager.button.title.restore' | translate }}"
                                        data-ng-click="restore(item)">
                                        <i class="restore_icon glyphicon glyphicon-share-alt"></i>
                                </span>

                                    <span class="button action-remove" title="{{ 'userManager.button.title.permanentlyDelete' | translate }}" 
                                    data-ng-if="!filter.active"
                                        data-ng-click="permanentlyDelete(item)">
                                    <i class="icon"></i>
                                </span>

                                    <!-- Filter ACTIVE -->
                                    <span class="button action-remove" title="{{ 'userManager.button.title.remove' | translate }}" 
                                    data-ng-if="filter.active"
                                        data-ng-click="remove(item)">
                                    <i class="icon"></i>
                                </span>

                                    <!--<span class="button action-edit"
                                      title="{{ 'userManager.button.title.edit' | translate }}"
                                      data-ng-if="filter.status==='active'"
                                      data-ng-click="edit(item)">
                                    <i class="icon"></i>
                                </span>-->


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>