<div class="panel-manager-tool">

    <div class="breadcrumb" data-ng-if="isEmployer">
        <span>{{ 'document.breadcrumb' | translate }}</span>
        <span>></span>
        <span>{{ currentUser.clientName }}</span>
    </div>
    <div class="breadcrumb" data-ng-if="isHealthCoach">
        <span>{{ 'document.breadcrumb' | translate }}</span>
        <span>></span>
        <a data-ng-click="goListForUser()">{{ currentUser.firstName + ' ' + currentUser.lastName }}</a>
    </div>
    <div class="filter" data-ng-if="isEmployer || isHealthCoach">
        <div class="dropdown">
            <button class="dropdown-toggle filter-dropdown-toggle">Participant Documents <i class="icon icon-filter"></i></button>
            <ul class="dropdown-menu">
                <li data-ng-if="isEmployer">
                    <a data-ng-click="goListForUser()">Client Documents</a>
                </li>
                <li data-ng-if="isHealthCoach">
                    <a data-ng-click="goListForUser()">Health Coach Documents</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="form-content">
    <div class="table-container">
        <div class="table-filter">
            <div class="input-group">
                <input class="form-control input-filter" data-ng-model="filter.keyword"/>
                <span class="input-group-addon"><i class="icon icon-search"></i></span>
            </div>
        </div>
        <div class="table-responsive table-responsive-pagination">
            <table ng-table="tableParams" show-filter="false" class="table">
                <tr ng-repeat="item in tableParams.data" data-ng-click="goParticipantDetail(item)">
                    <td data-title="'Participant Name'" sortable="'name'">
                        {{ item.name }}
                    </td>
                </tr>
                <tr data-ng-if="loading">
                    <td colspan="2" class="text-center">
                        <div class="loading-indicator"></div>
                    </td>
                </tr>
                <tr data-ng-if="tableParams.data.length == 0 && !loading">
                    <td class="text-center">
                        {{ 'document.empty_1' | translate }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
