<div id="loading-indicator-id">
  <div class="{{nameClass}}">
    <div class="loading-indicator-class ">
      <div class="title" ng-if="title" data-ng-bind-html="title"></div>
      <div id="fountainG">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
      </div>
      <div class="content" ng-if="content" data-ng-bind-html="content"></div>
    </div>
  </div>
</div>