<div class="row-item"
     data-ng-click="env.row='groupName'"
     data-ng-class="{ 'highlighted': env.row=='groupName',
                      'has-error': paForm.groupName.$invalid && (!paForm.groupName.$pristine || env.showValid)
                    }">
  <label class="description">Group Name</label>
  <div class="content">
    <div class="row">
      <div class="form-group col-xs-6" data-ng-class="{ 'has-error': paForm.groupName.$invalid && (!paForm.groupName.$pristine || env.showValid) }">
        <input name="groupName" type="text" class="form-control"
               data-ng-model="params.groupName"
               data-ng-disabled="true"
               tabindex="1"/>
      </div>
    </div>
  </div>
</div>
<div class="row-item"
     data-ng-click="env.row='groupNumber'"
     data-ng-class="{ 'highlighted': env.row=='groupNumber',
                      'has-error': paForm.groupNumber.$invalid && (!paForm.groupNumber.$pristine || env.showValid)
                    }">
  <label class="description">Group Number</label>
  <div class="content">
    <div class="row">
      <div class="form-group col-xs-6" data-ng-class="{ 'has-error': paForm.groupNumber.$invalid && (!paForm.groupNumber.$pristine || env.showValid) }">
        <input name="groupNumber" type="text" class="form-control"
               data-ng-model="params.groupNumber"
               data-ng-disabled="true"
               tabindex="2"/>
      </div>
    </div>
  </div>
</div>
<name-input data-form="paForm" data-control-label="Participant Name" data-ng-params="params" data-env="env" data-row="participantName" data-tabindex="3" required></name-input>
<date-input data-form="paForm"
            data-ng-model="params.dateOfBirth"
            data-control-label="Participant Date of Birth"
            data-param-type="birthday"
            data-values="env"
            data-row="dateOfBirth"
            data-tabindex="4"
            required></date-input>
<div class="row-item"
     data-ng-click="env.row='ssn'"
     data-ng-class="{ 'highlighted': env.row=='ssn',
                      'has-error': paForm.ssn.$invalid && (!paForm.ssn.$pristine || env.showValid)
                    }">
  <label class="description">Participant Last 4 Digits of SS#<span class="is-required"> *</span></label>
  <div class="content">
    <div class="row">
      <div class="form-group col-xs-6"
           data-ng-class="{ 'has-error': paForm.ssn.$invalid && (!paForm.ssn.$pristine || env.showValid) }">
        <input name="ssn" type="text" id="ssn" class="form-control"
               data-ng-model="params.ssn"
               input-mask="ssn2"
               tabindex="5" required/>
      </div>
    </div>
  </div>
</div>
<div class="row-item"
     data-ng-click="env.row='email'"
     data-ng-class="{ 'highlighted': env.row=='email',
                      'has-error': paForm.email.$invalid && (!paForm.email.$pristine || env.showValid)
                    }">
  <label class="description">Participant Email<span class="is-required">*</span></label>
  <div class="content">
    <div class="row">
      <div class="form-group col-xs-6"
           data-ng-class="{ 'has-error': paForm.email.$invalid && (!paForm.email.$pristine || env.showValid) }">
        <input name="email" type="email" class="form-control"
               data-ng-pattern="patternRegexs.email"
               data-ng-model="params.email"
               tabindex="6" required/>
      </div>
    </div>
  </div>
</div>
<div class="dotted-bottom"></div>
<div class="row-item">
  <h4>Authorization</h4>
  <small>
    <p>If you sign this document, you give permission to the below named individual(s) to:<br/></p>
    <p>Submit your personal health information (PHI) to BeniComp Select and sign on your behalf in the form of a claim;<br>
      Discuss your personal health information submitted to BeniComp Select as a claim;<br>
      Access this information using our web-based portal.<br/></p>
    <p>The PHI that the authorized individual(s) will be discussing with BeniComp Select includes:<br/></p>
    <p>Type of Service<br>
      Providers of Service<br>
      Dates of Service<br>
      Service Expenses</p>
  </small>
</div>
<name-input data-form="paForm" data-ng-params="params.name1" data-control-label="The PHI listed above may be discussed and/or disclosed (released) to: " data-env="env" data-row="thlambdd" data-tabindex="7"
            required></name-input>
<div class="row-item">
  <div class="content">
    <div class="checkbox-line">
      <input id="multipleIndividuals" type="checkbox" name="multipleIndividuals" data-ng-model="params.multipleIndividuals" tabindex="8">
      <label class="choice" for="multipleIndividuals">Click here for multiple individuals</label>
    </div>
  </div>
</div>
<div data-ng-if="params.multipleIndividuals">
  <name-input data-form="paForm" data-ng-params="params.name2" data-control-label="Name" data-env="env" data-row="'multipleIndividualsName1'" data-tabindex="9"></name-input>
  <name-input data-form="paForm" data-ng-params="params.name3" data-control-label="Name" data-env="env" data-row="'multipleIndividualsName2'" data-tabindex="10"></name-input>
</div>
<div class="dotted-bottom"></div>
<div class="row-item">
  <small>
    <p>The above named individual(s) is required by law to protect your health information.
      By signing this document, you authorize the individual(s) named above to discuss and/or disclose (release) your health information with BeniComp Select.
      Those persons who receive your health information may not be required by Federal privacy laws (such as the Privacy Rule) to protect it and may share your information with others without your
      permission, if permitted by laws governing them.
      This Authorization does not have an expiration date.</p>
    <p>Please note, you may change your mind and revoke (take back) this Authorization at any time. To revoke this Authorization, you must notify BeniComp Select in writing.</p>
  </small>
</div>
<div class="row-item"
     data-ng-click="env.row='signature'"
     data-ng-class="{ 'highlighted': env.row=='signature',
                      'has-error': env.signature().isEmpty && env.showValid
                    }">
  <label class="description">Participant Signature<span class="is-required">*</span></label>
  <div class="content">
    <div class="row">
      <div class="form-group col-xs-12" data-ng-class="{ 'has-error': env.signature().isEmpty && env.showValid }">
        <signature-pad dataurl="params.signature" accept="env.signature" clear="clear" height="130" width="309"></signature-pad>
        <div style="width: 309px"><a ng-click="clear()" class="sigpad_clear text-underline pull-right">Clear</a></div>
      </div>
    </div>
  </div>
</div>
<date-input data-form="paForm" data-ng-model="params.signedDate" data-param-type="signedDate" data-control-label="Signed Date" data-values="env" data-row="signedDate" data-tabindex="10" readonly></date-input>
