<div class="table-container">
  <div class="table-filter">
    <div class="input-group">
      <input class="form-control input-filter" data-ng-model="filter.keyword"/>
      <span class="input-group-addon"><i class="icon icon-search"></i></span>
    </div>
  </div>
  <div class="table-dropdown">

    <!-- Client -->
    <div class="pull-left padding-right-15">
      <div class="dropdown">
        <button class="dropdown-toggle filter-participant-client" ng-click="env.isOpenSelectClient = !env.isOpenSelectClient">
          <span data-ng-if="!filter.clientName">Client</span>
          <span data-ng-if="filter.clientName" ng-bind-html="filter.clientName"></span>
          <span class="fa fa-angle-down"></span>
        </button>

        <div class="toggle-select-client" ng-if="env.isOpenSelectClient">
          <div class="input-autocomplete">
            <input type="text"
                   ng-model="paramsAutoComplete.employer"
                   placeholder=""
                   typeahead-editable="false"
                   typeahead-wait-ms="500"
                   typeahead-min-length="3"
                   typeahead-on-select="choiceEmployer($item)"
                   typeahead="item as item.clientName for item in findClient($viewValue) | limitTo:5"
                   class="form-control">
          </div>
          <span class="close-btn">
            <i class="icon icon-close" ng-click="env.isOpenSelectClient = !env.isOpenSelectClient"></i>
          </span>
        </div>

      </div>
    </div>

    <!-- Benefit Year-->
    <div class="pull-left padding-right-15">
      <div class="dropdown">
        <button class="dropdown-toggle filter-archive">
          <span data-ng-if="filter.incentiveSelected">{{getLabelByIncentive(filter.incentiveSelected)}}</span>
          <span data-ng-if="!filter.incentiveSelected">Benefit Year</span>
          <span class="fa fa-angle-down"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-click="changeCurrentIncentive()">
            <a onclick="$('.filter-archive').trigger('click');">All</a>
          </li>
          <li ng-repeat="item in currEmployer.incentives" ng-click="changeCurrentIncentive(item)">
            <a onclick="$('.filter-archive').trigger('click');">{{getLabelByIncentive(item)}}</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Filter status-->
    <div class="pull-left padding-right-15">
      <div class="dropdown">
        <button class="dropdown-toggle filter-archive">
          <span data-ng-if="filter.active">Active</span>
          <span data-ng-if="!filter.active">InActive</span>
          <span class="fa fa-angle-down"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-click="selectStatusParticipant('active')">
            <a onclick="$('.filter-archive').trigger('click');">Active</a>
          </li>
          <li ng-click="selectStatusParticipant('inactive')">
            <a onclick="$('.filter-archive').trigger('click');">InActive</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Filter Users-->
    <div class="pull-left">
      <div class="dropdown">
        <button class="dropdown-toggle filter-archive">
          <span data-ng-if="filter.userType ==='participant'">Participant</span>
          <span data-ng-if="filter.userType === 'spouse'">Spouse</span>
          <span class="fa fa-angle-down"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-click="selectUserType('participant')">
            <a onclick="$('.filter-archive').trigger('click');">Participant</a>
          </li>
          <li ng-click="selectUserType('spouse')">
            <a onclick="$('.filter-archive').trigger('click');">Spouse</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="pull-right" data-ng-show="currEmployer">
      <a class="close" data-ng-click="filterEmployerClear()"><i class="icon icon-close"></i></a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div data-ng-if="isHealthCoachManager || isHealthCoach" data-ng-include="'modules/user-manager/participant/templates/index/health-coach-manager.tpl.html'"></div>
  <div data-ng-if="!isHealthCoachManager && !isHealthCoach" data-ng-include="'modules/user-manager/participant/templates/index/default.tpl.html'"></div>
</div>
