<div class="row-item"
     data-ng-click="env.row=row"
     data-ng-class="{ 'highlighted': env.row==row,
                      'has-error': form['sex_' + inputId].$invalid && (!form['sex_' + inputId].$pristine || env.showValid)
                    }">
  <label class="description">{{ controlLabel }}<span class="is-required" data-ng-if="required">*</span></label>
  <div class="content">
    <div class="radio-inline">
      <input name="sex_{{ inputId }}" type="radio" id="sex_{{ inputId }}_male"
             data-ng-model="ngModel"
             data-ng-value="'M'"
             data-ng-disabled="readonly"
             data-ng-required="required"
             tabindex="{{ tabindex }}"/>
      <label class="choice" for="sex_{{ inputId }}_male">Male</label>
    </div>
    <div class="radio-inline">
      <input name="sex_{{ inputId }}" type="radio" id="sex_{{ inputId }}_female"
             data-ng-model="ngModel"
             data-ng-value="'F'"
             data-ng-disabled="readonly"
             data-ng-required="required"
             tabindex="{{ tabindex }}"/>
      <label class="choice" for="sex_{{ inputId }}_female">Female</label>
    </div>
  </div>
</div>
