<div class="panel panel-green warp-shadow">
    <div class="panel-body text-center">
        <div class="show-entrynumber">
            <div class="text-green text-large">Awesome!</div>
            <div>Thank you for your claims submission. Our specialists are working on this right now!<div>
            <div ng-if="respondAPI">
                For future communication, please use Reference <span class="text-green">#{{respondAPI.entryNumberSubmitted}}</span>.
            </div>
        </div>

    </div>
</div>
