<div class="panel-manager-tool" style="display: none;">
    <div class="breadcrumb">
        <a data-ng-click="choiceFilter('allDocuments')">{{ 'document.breadcrumb' | translate }}</a>
        <span>></span>
        <span>{{ currentName }}</span>
    </div>
    <div class="filter">
        <div class="dropdown">
            <button class="dropdown-toggle filter-dropdown-toggle">{{ currentFilter }} <i class="icon icon-filter"></i>
            </button>
            <ul class="dropdown-menu">
                <li data-ng-hide="currentFilterKey == 'clientDocuments'"
                    data-ng-class="{ 'selected': currentFilterKey == 'clientDocuments' }"
                    onclick="$('.filter-dropdown-toggle').trigger('click');">
                    <a data-ng-click="choiceFilter('clientDocuments')">Client Documents</a>
                </li>
                <li data-ng-hide="currentFilterKey == 'heathCoachDocuments'"
                    data-ng-class="{ 'selected': currentFilterKey == 'heathCoachDocuments' }"
                    onclick="$('.filter-dropdown-toggle').trigger('click');">
                    <a data-ng-click="choiceFilter('heathCoachDocuments')">Health Coach Documents</a>
                </li>
                <li data-ng-hide="currentFilterKey == 'myDocuments'"
                    data-ng-class="{ 'selected': currentFilterKey == 'myDocuments' }"
                    onclick="$('.filter-dropdown-toggle').trigger('click');">
                    <a data-ng-click="choiceFilter('myDocuments')">My Documents</a>
                </li>
                <li data-ng-hide="currentFilterKey == 'allDocuments'"
                    data-ng-class="{ 'selected': currentFilterKey == 'allDocuments' }"
                    onclick="$('.filter-dropdown-toggle').trigger('click');">
                    <a data-ng-click="choiceFilter('allDocuments')">All Documents</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="form-content">
    <div class="table-container" data-ng-include="'modules/imp-documents/list/list_document.tpl.html'"></div>
</div>
